{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'cafe_hop/style.css' %}" />

<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Ek+Mukta:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
<!-- <link href='http://www.dafont.com/bebas-neue.font' rel='stylesheet' type='text/css'>
 -->
 <link href='https://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,greek-ext' rel='stylesheet' type='text/css'>
<script src="https://use.typekit.net/qpm2foc.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<head>
	<link rel="icon" type = "image/ico" href="../../static/cafe_hop/images/favicon.ico">
	<link rel="apple-touch-icon" href="../../static/cafe_hop/images/favicon-2.png"/>
</head>

<div id = 'title'>
	<img id="logo" src ="../../static/cafe_hop/images/Logo.png">
<!-- 	<h1 id="cafehop">C A F E &nbsp;H O P</h1> -->
	<img id="title-logo" src ="../../static/cafe_hop/images/title.png">
	<p id= "howfull">H O W &nbsp;F U L L &nbsp;I S &nbsp;Y O U R &nbsp;F A V O R I T E &nbsp;C A F E ?</p>
</div>

<hr>

<div id = "navi">
	<ul>
		<li><a href="/" id = "Home">H O M E</a></li>
		<li><a href="/about/" id = "About">A B O U T</a></li>
		<li><a href="/music/" id = "Music">M U S I C</a></li>		
	</ul>
</div>

<p id = 'about-text'>Cafe Hop was created by Cal Alumn, <a target="_blank" class="portfolio" href="https://www.linkedin.com/in/rahuldoraiswami">Rahul Doraiswami</a>, and 4th year student, <a target="_blank" class="portfolio" href="https://www.linkedin.com/in/jihernbaek">Ji-hern Baek</a>. It exists as a crowdsourcing platform for Cal students and general Berkeley residents with respect to cafe fullness. Viewers can input their observations in the form of a percentage. Cafe Hop will, then, provide a weighted moving average of ratings from the last 60 minutes.</p>


<br><br><br>
<p id = 'about-text'>Let us know if you have any questions, comments, or suggestions at: <a class="portfolio" href="mailto:cafehopberkeley@gmail.com">cafehopberkeley@gmail.com</a>.</p>


<br><br><br>
<div id ="made-for">M A D E &nbsp;I N &nbsp;// &nbsp;F O R &nbsp;B E R K E L E Y


