{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'cafe_hop/style.css' %}" />

<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Ek+Mukta:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>

<div id = 'title-font'>
	<img src ="../../static/cafe_hop/images/Title Up.png">
</div>

<hr>

<div id = "navi">
	<ul>
		<li>

			<a href = "/cafe_hop/">
				<img src ="../../static/cafe_hop/images/HOME.png">
			</a>

		</li>
		<li>	
			<a href = "/cafe_hop/about/">
				<img src ="../../static/cafe_hop/images/ABOUT.png">
			</a>
		</li>
		<li>
			<a href = "/cafe_hop/music/">
				<img src ="../../static/cafe_hop/images/MUSIC.png">
			</a>
		</li>
	</ul>
</div>

<div id = 'about-font'>Cafe-hop solves the problem of figuring out what cafes are free so you can spend the most time studying.

<br>
<br>
<br>


If you are at a cafe, please, tell us how full you think the cafe is. 

<br>
<br>
<br>

If you are interested in studying at a cafe, you can see a percentage bar that tells you how full the cafe is. The value is calculated using a weighted moving average of ratings from the last 20 minutes.</div>



