{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'cafe_hop/style.css' %}" />

<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Ek+Mukta:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>


<link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>

{% if messages %}
<div id = 'error'>
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
</div>
{% endif %}


<div id = 'title-font'>
	<h1>Cafe Hop</h1>
	<p>How full is your favorite Cafe?</p>
</div>

<div id = 'title-font-2'>
	<h1>{{cafe.name}}</h1>
</div>

<div id = 'menu-centered'>
	<ul>
		<progress id = 'progressBar' value = {{value.0}} max = '5' display = true></progress> <br>
		<span>Based on {{ value.1}} reviews.</span> <br>
		<div id = 'title-font'>
			<p1>Comments</p1>
		</div>
			
			{% for comment in comment_list %}
				<div id = 'cafe-menu-font'>
					"{{comment.text}}"<br>
				</div>
			{% endfor %}


		<br><span>Add your own comment</span> <br>

		<form action="/cafe_hop/comment/{{ cafe.id }}/" method="POST">
			
			<input type = "text" name = "comment">
	    		{% csrf_token %}
				{{ form.as_p }}
		</form>
	</ul>
</div>

<div id = 'home_button'>
	<p><a href="/cafe_hop/">home</a></p>
</div>



<meta http-equiv="refresh" content="30"/>


