
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'cafe_hop/style.css' %}" />

<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Ek+Mukta:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68036122-1', 'auto');
  ga('send', 'pageview');

</script>




<!-- <script src="/jquery-1.11.3.min/"></script>
<script type="/index.js/"></script> -->


<link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
<!-- <link href='http://www.dafont.com/bebas-neue.font' rel='stylesheet' type='text/css'>
 -->
<script src="https://use.typekit.net/qpm2foc.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
 <link href='https://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,greek-ext' rel='stylesheet' type='text/css'>

<head>
	<link rel="icon" type = "image/ico" href="../../static/cafe_hop/images/favicon.ico">
	<link rel="apple-touch-icon" href="../../static/cafe_hop/images/favicon-2.png"/>
</head>

{% if messages %}
<div id = 'error'>
	<ul class="messages">
	    {% for message in messages %}
	    	{{ message }}
	    {% endfor %}
	</ul>
</div>
{% endif %}



<div id = 'title'>
	<img id="logo" src ="../../static/cafe_hop/images/Logo.png">
<!-- 	<h1 id="cafehop">C A F E &nbsp;H O P</h1> -->
	<img id="title-logo" src ="../../static/cafe_hop/images/title.png">
	<p id= "howfull">H O W &nbsp;F U L L &nbsp;I S &nbsp;Y O U R &nbsp;F A V O R I T E &nbsp;C A F E ?</p>
</div>

<hr>

<div id = "navi">
	<ul>
		<li><a href="/" id = "Home">H O M E</a></li>
		<li><a href="/about/" id = "About">A B O U T</a></li>
		<li><a href="/music/" id = "Music">M U S I C</a></li>		
	</ul>
</div>

<!-- <div id="click">
	<img id="triangle" src ="../../static/cafe_hop/images/Triangle.png">
	<p id="click-to">C L I C K &nbsp;A &nbsp;T I L E &nbsp;T O &nbsp;F I N D &nbsp;O U T</p>
	<img id="triangle" src ="../../static/cafe_hop/images/Triangle.png">
</div> -->
{% if cafe_dict %}
	<div id = 'menu-centered'>
		<ul>
		{% for key, value in cafe_dict.items %}

			<li>
				<span class ="fake-link" id="fake-link-1"><img id="cafe-image" src ="../../static/cafe_hop/images/{{ key.name }}.png"></span>
			</li><br>
			<div id = 'content-container'>
				<div id = 'fullness'>
					{% if value.0 != 'No ratings available' %}
						{% if value.1 == 1 %}
							<span>Based on {{ value.1 }} review in the last hour, {{ key.name }} is {{ value.0 }}% full.</span> <br>
						{% else %}
							<span>Based on {{ value.1 }} reviews in the last hour, {{ key.name }} is {{ value.0 }}% full.</span> <br>
						{% endif %}
				
					{% else %}
						<span>No ratings are available for {{ key.name }} at this time.</span>

					{% endif %}
				</div>


			{% if value.0 == 5 %}
				<div id = 'full-bar'>
					<progress id = 'progressBar' value = {{value.0}} max = '100' display = true></progress> <br>
				</div>
			{% else %}
				
				<progress id = 'progressBar' value = {{value.0}} max = '100' display = true></progress> <br>


			{% endif %}
			
			<hr id="divider">
			<br>

				<span>How full do you think {{key.name}} is? </span> <br>

				<form action="/rate/{{ key.id }}/" method="POST">
				
					<input class="radio-1" type = "radio" name = "rating" value = "0" onclick="this.form.submit();"><p id="percentage">0%</p>
					<input class="radio-1" type = "radio" name = "rating" value = "1" onclick="this.form.submit();"><p id="percentage">20%</p>
					<input class="radio-1" type = "radio" name = "rating" value = "2" onclick="this.form.submit();"><p id="percentage">40%</p>
					<input class="radio-1" type = "radio" name = "rating" value = "3" onclick="this.form.submit();"><p id="percentage">60%</p>
					<input class="radio-1" type = "radio" name = "rating" value = "4" onclick="this.form.submit();"><p id="percentage">80%</p>
					<input class="radio-1" type = "radio" name = "rating" value = "5" onclick="this.form.submit();"><p id="percentage">100%</p>

	    			{% csrf_token %}
				    {{ form.as_p }}

				</form>
		

			</div>	
			{% endfor %}
			
		</ul>
	</div>
{% else %}
	<p>No cafes are available.</p>
{% endif %}


<div id ="made-for">M A D E &nbsp;I N &nbsp;// &nbsp;F O R &nbsp;B E R K E L E Y

<meta http-equiv="refresh" content="60" />

